// $BodyColor: rgb(44, 10, 75);
$BodyColor: rgb(22, 9, 61);

// NAVIGATION
$NavbarBackground: rgb(200, 190, 175);
$NavbarText: rgb(30, 50, 80);

// ADD NEW PRODUCT FORM
$AddNewProductFormInputColor: rgb(210 206 199 / 28%);

// PRODUCT
$ProductBackgroundCOlor: rgb(115 127 175);

// BUTTONS
$GreenPlusButton: #1daf0a;
$RedMinusButton: #d63f24;
